  main {
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
  }
  
  #photo-template {
      display: flexbox;
      flex-wrap: wrap;
      flex-wrap: nowrap;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      background-color: #2196F3;
      padding: 10px
  }